
@media(min-width:768px){
    .grid{
        display: grid;
        grid-gap: 16px;
        padding:16px;
        grid-template-columns: 1fr 1fr;
    }     
}

@media(min-width:960px){
    .grid{
        display: grid;
        grid-gap: 16px;
        padding:16px;
        grid-template-columns: repeat(2,1fr);
    }
      
}

@media(min-width:1200px){
    .grid{
        display: grid;
        grid-gap: 16px;
        padding:16px;
        grid-template-columns: repeat(2,1fr);
    }
      
}
.col{
     background-color: aqua; 
    margin: 16px;
    padding:16px;
}

